# Ignore TODO list
TODO.md

# Ignore venv
venv/
.venv/

# Ignore environment variables file
.env

# Ignore cache files
__pycache__/
.ipynb_checkpoints/
# Ignore macOS system files
.DS_Store
.pytest_cache/
multidecode.egg-info/
